<div class="filter-container">
  <span>Filter:</span>
  <input
    type="radio"
    name="filter"
    value="All"
    [(ngModel)]="seletedValue"
    (change)="onRadioButtonSelectionChange()"
  />
  <span>{{ "All products(" + all + ")" }}</span>
  <input
    type="radio"
    name="filter"
    value="Available"
    [(ngModel)]="seletedValue"
    (change)="onRadioButtonSelectionChange()"
  />
  <span>{{ "Available products(" + available + ")" }}</span>
  <input
    type="radio"
    name="filter"
    value="NotAvailable"
    [(ngModel)]="seletedValue"
    (change)="onRadioButtonSelectionChange()"
  />
  <span>{{ "Not Available products(" + notAvailable + ")" }}</span>
</div>
